@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	var sectionBackgroundImage = Model?.Content.Value<IPublishedContent>("sectionBackgroundImage")?.Url() ?? null;

	bool.TryParse(ViewData["error_name"]?.ToString()!, out bool error_name);
	bool.TryParse(ViewData["error_email"]?.ToString()!, out bool error_email);
	bool.TryParse(ViewData["error_phone"]?.ToString()!, out bool error_phone);
}

<div class="container">
	
	<div class="call-back-form">
		<div class="head-line">
			<h4>REQUEST A CALL BACK</h4>

			
		</div>
		<div class="form">
			<p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>
			@using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
			{
				<div class="form-input-group">
					
					<input id="name" name="name" type="text" placeholder="Name" class="form-input" value="@ViewData["name"]">
					<span class="form-input-error @((error_name) ? "form-invalid-input" : "")">You must enter your name</span>
				</div>

				<div class="form-input-group">
					
					<input id="email" name="email" type="email" placeholder="Email adress" class="form-input" value="@ViewData["email"]">
					<span class="form-input-error @((error_email) ? "form-invalid-input": null)">You must enter your email</span>
				</div>

				<div class="form-input-group">
					
					<textarea id="phone" name="phone" placeholder="Phone" class="form-input" value="@ViewData["phone"]"></textarea>
					<span class="form-input-error @((error_phone) ? "form-invalid-input": null)">You must enter your phonenumber</span>
				</div>

				<div class="form-input-group">

					<input placeholder="Financial consulting" class="form-input">
					
				</div>
		
				<button type="submit" class="btn-primary">Submit</button>
				

				
				@if(ViewData["success"] != null)
				{
					<p>@ViewData["success"]</p>
				}
				
			}
		</div>
		
	</div>
</div>